 *{margin:0; padding:0;}
 body{background:#fff;}

 .section{margin: 0 auto; position: relative; top:50px; background:rgba(238, 236, 236, 0.8); width:800px; border-radius: 30px; box-shadow: 5px 8px 10px rgba(0,0,0,0.3); padding:0 20px 20px 20px;}

 h1{text-align: center; padding:20px 0;}

 /* 기재란 기본 틀 */
 input, select{height:30px; padding-left:5px; border-radius: 10px; font-size: 16px; width:200px; margin-bottom:10px; border:1px #333 solid;}

 /* 전화번호 */
 .input2{width:80px;}
 /* 주소 */
 #sample2_postcode{width:100px;}
 #sample2_address{width:400px;}

 .button{border:0; background:#333; color:white; cursor: pointer;}

 .btn{ width:100%;text-align: center;  }
 .btn input{padding:10px 0; height:auto; margin-top:20px; cursor: pointer; }
 .btn input:nth-child(2){background:white; color:#333; border:#333 1px solid;}